* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body { 
  margin: 0; 
  padding: 0;
  overflow: hidden; 
  background-color: #FFFFFF;
}

canvas { 
  display: block; 
  width: 100%; 
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

#firefly-canvas {
  z-index: 1;
}

#sphere-canvas {
  z-index: 2;
}